version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-net

  backend:
    build: ./backend
    environment:
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root
    expose:
      - "8000"
    depends_on:
      - postgres
    networks:
      - app-net


  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-net  

volumes:
  pgdata:

networks:
  app-net:
    external: true 
