apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:  
  selector:
      app: postgres-deployment
  ports:
   - name: http
     protocol: TCP
     targetPort: 5432
     port: 5432
  type: ClusterIP